{% extends 'base.html.twig' %}

{% block title %}sf4 Product Create{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <hr>
    <a class="mx-2" href="/product/list">Discard and Back to List</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/tags.js') }}"></script>
{% endblock %}